* {
    box-sizing: border-box;
    font-family: nunito, serif;
}

html, body {
    height: 100%;
}

input[type=text], input[type=number] {
    outline: none !important;
    box-shadow: none !important;
}