* {
    box-sizing: border-box;
    font-family: nunito, serif;
}

input[type=text], input[type=number], input[type=datetime-local] {
    outline: none !important;
    box-shadow: none !important;
}


.left-bar, .right-bar {
    height: 85vh;
}

#transaction-history {
    height: 90%;
}

#transaction-left {
    height: 94%;
}

td,th {
    text-align: center;
}

.custom-pointer:hover, .table-hover:hover{
    cursor: pointer;
}

.btn-toggle {
    width: 200px;
    background: #1009d4;
}

#add-pay-print {
    background: deepskyblue;
}

.add-pay-modal-info {
    font-size: 14px;
    color: grey;
}

